@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url(background_table_grant.jpg);
    min-height: 100vh;
    font-family: Roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
} 


table, th, td{
    padding: 1rem;
    border-collapse: collapse;
}

table{
    width: 100%;
    height: 90vh;
    background-color:#fff5;
    backdrop-filter: blur(8px);
    box-shadow: 0 .4rem .8rem #0005 ;
    border-radius: .8rem;

}

table th{
    position: sticky;
    top:0;
    left:0;

}

.Header
{
    width: 100%;
    height: 10%;
    background: color #fff4;
    padding: .8rem 1rem;

}

.Body
{
    width: 95%;
    max-height: calc(89%-.8rem) ;
    background-color: #fffb;
    margin: .8rem auto;
    border-radius: .2rem;

}

body tr:nth-child(even)
{
    background-color: #0000000b;
}

tbody tr:hover{
    
    background-color: #fff6;
}